*{
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
}

.navigation {
    width: 100%;
}

.top-left-navbar{
    display: flex;
    text-decoration: none;
    float: left;
    padding: 1em;
}

.top-right{
    float: right;
    text-decoration: none;
    display: flex;
    padding: 1em;
}

.top-right-navbar{
    display: flex;
}

